#render {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
}

.square {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

form {
    display: grid;
    grid-template-columns: 120px 240px;
}